<div>
    <div *ngIf="!map" class="upload-wrapper">
        <div class="file-upload">
            <button type="button">Please select JSON file</button>
            <input type="file" (change)="onFileSelected($event)">
        </div>
        <div *ngIf="errorMessage" class="error">
            {{errorMessage}}
        </div>
    </div>
    <div *ngIf="map" [class.green]="greenStyle">
        <div class="fixed-top-right">
            <h4>Colors:</h4>
            <div class="color-switch">
                <button type="button" class="btn btn-default" (click)="greenStyle=false;" [disabled]="!greenStyle">Default</button>
                <button type="button" class="btn btn-default btn-green" (click)="greenStyle=true;" [disabled]="greenStyle">Green</button>
            </div>
            <div>
                <h4>Nodes:</h4>
                <div *ngFor="let nodeType of nodeTypes">
                    <div>{{nodeType.name}}: {{nodeType.count}}</div>
                </div>
            </div>
            <div>
                <h4>Genes that are part of more than one reaction:</h4>
                <div>{{genes.join(', ')}}</div>
            </div>
            <div *ngIf="selectedPath">
                <h4>Path:</h4>
                <div>From: {{selectedPath.fromNode.node_type}} {{selectedPath.fromNode.name || selectedPath.fromNode.node_id}}</div>
                <div>To: {{selectedPath.toNode.node_type}} {{selectedPath.toNode.name || selectedPath.toNode.node_id}}</div>
            </div>
        </div>
        <pathway-map [map]="map" (pathSelected)="selectedPath = $event;" (buildError)="onBuildError($event)"></pathway-map>
    </div>
</div>