<div>
    <div *ngIf="!map" class="upload-wrapper">
        <div class="file-upload">
            <button type="button">Please select JSON file</button>
            <input type="file" (change)="onFileSelected($event)">
        </div>
    </div>
    <div *ngIf="map" [class.green]="greenStyle">
        <div class="fixed-top-right">
            <div class="color-switch">
                <button type="button" class="btn btn-default" (click)="greenStyle=false;" [disabled]="!greenStyle">Default</button>
                <button type="button" class="btn btn-default btn-green" (click)="greenStyle=true;" [disabled]="greenStyle">Green</button>
            </div>
            <div *ngIf="selectedPath">
                <label>Selected path:</label>
                <div>From: {{selectedPath.fromNode.node_type}} {{selectedPath.fromNode.node_id}}</div>
                <div>To: {{selectedPath.toNode.node_type}} {{selectedPath.toNode.node_id}}</div>
            </div>
        </div>
        <pathway-map [map]="map" (pathSelected)="selectedPath = $event;"></pathway-map>
    </div>
</div>